@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  box-sizing: border-box;
}
body {
  color: #0a0a0a;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
h1 {
  font-size: 1.5rem;
  font-weight: 500;
}
td,
th {
  padding: 0.25rem;
}
input:focus, select:focus, textarea:focus {
  border:1.5px solid #7c3aed;
  outline:2px solid #c4b5fd;
}
.inactive {
  color: #767676;
}
.activeLink {
  position: relative;
  svg {
    transition: all 0.4s ease;
    stroke: #0a0a0a;
  }
}
.activeLink::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0a0a0a;
  border-radius: 10px;
  bottom: -5px;
  transition: all 0.4s ease;
}
