@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #0a0a0a;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 1.5rem;
  font-weight: 500;
}
td,th{
  padding: 0.25rem
}
input:focus{
  border-color: #7C3AED ;
  outline: #c4b5fd ;
}
.inactive{
  color: #767676;
}